# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
/lib/
lib64/
!demo_app/frontend/src/lib/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints/

# Vector database
chroma_db/

# IDE
.idea/
.vscode/
.vs/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Virtual environments
venv/
env/
.venv/
